<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at


    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
       <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: 
		https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <title>Cordova Angular</title>
    </head>
    <body>
		<!--
		<div class="app" ng-controller="cordovaCtr">
             <div id="deviceready" class="blink">
				<h1>{{message}}</h1>
		        <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
			</div>
		</div>
		-->
		
		<!--Agregamos 3 views
		<div class="app" ng-controller="cordovaCtr">
		  <div>
			<h1>{{viewApache.title}}</h1>
		  </div>
		  <div>
			<h1>{{viewAngular.title}}</h1>
		  </div>
		  <div>
			<h1>{{viewMobile.title}}</h1>
		  </div>
		  <div id="deviceready" class="blink">
			<p class="event listening">Connecting to Device</p>
			<p class="event received">Device is Ready</p>
		  </div>
		</div>
		-->
		
		<!--Agregamos view actual 
		<div class="app" ng-controller="cordovaCtr">
		  <div ng-show="currentView == viewApache">
			<h1>{{viewApache.title}}</h1>
		  </div>
		  <div ng-show="currentView == viewAngular">
			<h1>{{viewAngular.title}}</h1>
		  </div>
		  <div ng-show="currentView == viewMobile">
			<h1>{{viewMobile.title}}</h1>
		  </div>
		  <div id="deviceready" class="blink">
			<p class="event listening">Connecting to Device</p>
			<p class="event received">Device is Ready</p>
		  </div>
		</div>
		-->
		
		
		<!-- Agregamos botones y eventos 
		<div class="app" ng-controller="cordovaCtr">
		  <div ng-show="currentView == viewApache">
			<h1>{{currentView.title}}</h1>
			<button ng-click="nextView()">Next</button>
		  </div>
		  <div ng-show="currentView == viewAngular">
			<h1>{{currentView.title}}</h1>
			<button ng-click="prevView()">Prev</button>
			<button ng-click="nextView()">Next</button>
		  </div>
		  <div ng-show="currentView == viewMobile">
			<h1>{{currentView.title}}</h1>
			<button ng-click="prevView()">Prev</button>
		  </div>
		  <div id="deviceready" class="blink">
			<p class="event listening">Connecting to Device</p>
			<p class="event received">Device is Ready</p>
		  </div>
		</div>
        -->
		<!-- rutas en angular con cordovajs -->
		<div class="app">
		  <a href="#!apache" class="btn btn-info">Apache</a>
		  <a href="#!angular" class="btn btn-success">Angular</a>
		  <a href="#!mobile" class="btn btn-info">Mobile</a>
		  <ng-view></ng-view>
		  <div id="deviceready" class="blink">
			<p class="event listening">Connecting to Device</p>
			<p class="event received">Device is Ready</p>
		  </div>
		</div>

		
		
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
		<script type="text/javascript" src="js/bootstrap.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-route.js"></script>
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script> -->
    
	
<!--
		<script type="text/javascript">
		document.addEventListener("deviceready", initAngular, false);
			function initAngular() {
			  function cordovaCtr($scope) {
				$scope.message = ' + Angular JS Con A Cordova';
			  }
			 inicializa el angular en el proyecto 
			  angular.module('cordova', [])
				  .controller('cordovaCtr', ['$scope', cordovaCtr]);
			  angular.bootstrap(document, ['cordova']);
			}
		</script>
  -->
	
	
	</body>
	
</html>
