<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <!-- en cada aplicsciion que levantamos desde aqui se debe comentar este tag para que pueda correr la app sin problemas -->
        <!--<meta http-equiv="Content-Security-Policy" content="default-src 'self' data:
		gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">-->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="css/index.css">
	    <title>Hello World</title>
    </head>
    <body>
			<!--primero
			<div class="app" id="app">
		    <h1>Apache Cordova {{message}}</h1>
            <div id="deviceready" class="blink">
                <p class="event listening">Connecting to Device</p>
                <p class="event received">Device is Ready</p>
            </div>
			</div>
			-->
			<!--segundo
			<div id="app">
			  <div>
				<h1>{{viewApache.title}}</h1>
			  </div>
			  <div>
				<h1>{{viewVue.title}}</h1>
			  </div>
			  <div>
				<h1>{{viewMobile.title}}</h1>
			  </div>
			</div>
			-->
			<!--tercero
			<div id="app">
			  <div v-show="currentView === viewApache">
				<h1>{{currentView.title}}</h1>
			  </div>
			  <div v-show="currentView === viewVue">
				<h1>{{currentView.title}}</h1>
			  </div>
			  <div v-show="currentView === viewMobile">
				<h1>{{currentView.title}}</h1>
			  </div>
			</div>
			-->


			<!--agragar a la app cuarto-->
			<!-- <div id="app">
			  <div v-show="currentView === viewApache">
				<h1>{{currentView.title}}</h1>
				<button v-on:click="next(currentView)">Next</button>
			  </div>
			  <div v-show="currentView === viewVue">
				<h1>{{currentView.title}}</h1>
				<button v-on:click="prev(currentView)">Back</button>
				<button v-on:click="next(currentView)">Next</button>
			  </div>
			  <div v-show="currentView === viewMobile">
				<h1>{{currentView.title}}</h1>
				<button v-on:click="prev(currentView)">Back</button>
			  </div>
			</div> -->


		    <!--agragar a la app-->

        <!-- probando en vue router -->
        <div id="app">
          <router-link to="/apache" tag="button">Go to Apache</router-link>
          <router-link to="/vue" tag="button">Go to Vue</router-link>
          <router-link to="/mobile" tag="button">Go to Mobile</router-link>
          <router-view></router-view>
        </div>


        <!-- *** -->


  <!--
	primero
		<script type="text/javascript">
		function initVue() {
		  var app = new Vue({
			el: '#app',
			data: {
			  message: ' + Vue.js'
			}
		  });
		}
		document.addEventListener("deviceready", initVue, false);
		</script>
		-->


    <!-- probando el vue rauter -->
        <script type="text/x-template" id="view-apache">
          <h1>{{ message }}</h1>
        </script>
        <script type="text/x-template" id="view-vue">
          <h1>{{ message }}</h1>
        </script>
        <script type="text/x-template" id="view-mobile">
          <h1>{{ message }}</h1>
        </script>



        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="js/index.js"></script>
		    <script src="https://vuejs.org/js/vue.js"></script>
        <script type="text/javascript" src="js/vue-router.js"></script>
		<!--Librería para desarrollo
		<script type="text/javascript" src="js/vue.js"></script>
		<!--Librería mimificada para produccion
		<script type="text/javascript" src="js/vue.min.js"></script>-->
    </body>
</html>
