<nav class="navbar">
            <div class="container-fluid navbar-inverse">
                      <!-- Brand and toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                        </button>
                        <a class="navbar-brand" href="#">Bootstrap</a>
                      </div>
                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse">
                        <p class="navbar-text navbar-right">
                          <span class="glyphicon glyphicon-align-left"></span>
                        </p>
                      </div><!-- /.navbar-collapse -->
             </div><!-- /.container-fluid -->
</nav>