 <div class="footer-block bg-info text-center">
            
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="copyright">
                            © 2017, Rhm80, All rights reserved
                        </div>
                    </div>
                </div>
         
 </div>