     <div class="row text-center">
         <div class="col-xs-6 col-sm-6 col-md-12" style="padding-top: 5px;">
               <img src="img/logo.png">
         </div>
         <div class="col-xs-6 col-sm-6 col-md-12" style="padding-top: 76px;">
               <a href="#!bootstrap"><button type="button" class="btn btn-primary">Ir a angular</button></a>
         </div>
         <!-- <a href="#!bootstrap" class="col-xs-6 col-sm-6 col-md-12"><button type="button" class="btn btn-primary">Ir a angular</button></a> -->
         <div class="col-xs-12 col-sm-12 col-md-12">
            <p class="container">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia blanditiis a, natus quasi, accusantium explicabo atque. Quibusdam eveniet, totam, assumenda debitis maxime, maiores veniam asperiores aperiam consequuntur ea similique non.
            </p>
         </div>
      </div>
